DOCKER_USER_ID=<Put return of `id -u` here>

DOCKER_USER=ensiie

# Nginx listen port on local machine
NGINX_PORT=<Put return of `whoami` here>

# Nginx hostname
SERVER_NAME=php-docker.local

# php-fpm listen address (php service name in docker-compose)
PHP_ADDRESS=php

# Timezone
TIMEZONE='Europe/Paris'

#DB
DB_USER=ensiie
DB_PASSWORD=ensiie
DB_PORT_EXTERNAL=5431
